html {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #ecf0f1;
  padding: 0px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  text-transform: uppercase;
  font-size: 72px;
  padding: 30px;
}

h1,
p {
  text-align: center;
}

img {
  width: 60%;
}

.container-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.card {
  width: 70%;
  margin: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 18px;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  border-radius: 25px;
  box-shadow: 0px 0.5px 1.5px rgba(0, 0, 0, 0.7);
  transition: all 0.4s;
}

.card:hover {
  box-shadow: 1px 1.5px 10px rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
  z-index: 3;
}

.card > * {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .card {
    width: 70%;
  }
}

@media screen and (max-width: 992px) {
  .container-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .card {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .container-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .card {
    width: 70%;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 250%;
  }

  .container-card {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .card {
    width: 60%;
  }
}
